@use "../styles/" as *;

.dragCart {
  @include standartBlock();
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 500;
  background: rgba($fontShadowColor, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.dragCartVisible {
  transition: all 0.3s linear;
  opacity: 1;
}

.dragCartHovered {
  background: rgba($fontShadowColor, 1);
}
